.idea/
nbaparsing/.idea
nbaparsing/data/positionlog/
nbaparsing/data/playbyplay/
nbaparsing/data/possession_graph/
nbaparsing/data/possession_csv/
nbaparsing/data/playbyplay_csv/
nbaparsing/data/momentsdump/
